{% extends 'Layouts/template.html.twig' %}


{% block contenu %}
    {% if app.user %}
        <h1> Bonjour {{ app.user.nom }} </h1>
        {% if "ROLE_CLIENT" in app.user.roles %}
            <h1> Vous etes un client</h1>
        {% elseif "ROLE_ADMIN" in app.user.roles %}
                <h1> Vous etes un admin</h1>
        {% elseif "ROLE_SUPERADMIN" in app.user.roles %}
            <h1> Vous etes un super-admin</h1>
        {% endif %}
    {% else %}
        <img class = "headerimg" src="/image/anonyme.jpg" alt="anonyme">
        <h1> Bonjour anonyme</h1>
        <h2><a href="{{ path('app_register') }}">Créer un compte </a></h2>
        <h2><a href="{{ path('app_login') }}">Se connecter </a></h2>
    {% endif %}

    <div>
        {% include 'Layouts/flash.html.twig' %}
    </div>
{% endblock %}