{% extends 'Layouts/base.html.twig' %}

{% block body %}
    {% if app.user %}
        {% include 'Layouts/header.html.twig' %}
        <header>
        <nav>
            {{ render(controller('App\\Controller\\HomeController::menu')) }}
        </nav>
    </header>
    {% endif %}

    <div>{# Ajout d'un flash #}
        {% include 'Layouts/flash.html.twig' %}
    </div>
    {% block contenu %}Message par défaut{% endblock %}
{% endblock %}